#search-bar {
	margin-bottom: 50px;

	.search-btn {
		background: #848896;
		color: white;
		font-weight: bold;
		border: 1px solid #848896;
		border-radius: 0px;
		height: 42px;
		width: 20%;
	}

	input.searchText {
		background: #0e4886;
		height: 42px;
		border-radius: 0px;
    	border: 0px;
    	width: 51%;
    	color: #848896;
	}

	select.searchBy {
		color: #848896;
		background: #0e4886;
		height: 42px;
		width: 22%;
		border-radius: 0px;
    	border: 0px;
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		// background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
		background-position: 100% 50%;
		background-repeat: no-repeat;
	}

	*:focus {
		outline: none;
		box-shadow: none;
	}
}