#block {
	.page-header {
		background-color: white;
		padding: 30px 20px;
		margin-bottom: 30px;

		h1 {
			margin-bottom: 0px;
		}

		.header-hash {
			font-weight: regular;
			font-size: 16px;
			color: #777;
		}
	}
}