<div class="row">
  <div class="col-md-12">
    <div id="search-bar">
      <div class="centerr">        

        <form class="form-inline justify-content-center" ng-submit="search()">
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Search by address, block, token, or tx" style="width: 55%;" ng-model="searchText">

          <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 18%;">
            <select class="form-control" ng-model="searchBy">
              <option value="" disabled selected>Search by...</option>
              <option value="address">Address</option>
              <option value="block">Block</option>
              <option value="token">Token</option>
              <option value="tx">Transaction</option>
            </select>
          </div>

          <button type="submit" class="btn search-btn" style="width: 20%;">Search</button>
        </form>

      </div>
    </div>
  </div>
</div>

