* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html {
  background: #013164;
  min-height: 100vh;
}

table {
	background-color: white !important;
	tr:nth-child(even) {background-color: #f5f8fc;}	
	th, td {
		border: 0px !important;
	}
}

table.hover {
	tr:hover {
		background-color: #f5f8fc;
	}
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
