* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html {
  background: #013164;
  min-height: 100vh;
}

body {
  padding-bottom: 30px;
}

table a {
  color: #2475b9 !important;

  &:hover {
    color: #008bff !important;
    text-decoration: none !important;
  }
}


//////////////////////////////
// tables
//////////////////////////////

table {
	background-color: white !important;
	tr:nth-child(odd) {background-color: #f5f8fc;}	
	th, td {
		border: 0px !important;
	}
}

table.hover {
	tr:hover {
		background-color: #f5f8fc;
	}
}

thead.padded {
  tr {
    th {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

//////////////////////////////
// end tables
//////////////////////////////

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'token/main';
